.text-uppercase {
  text-transform: uppercase;
}

p {
  font-size: 1.4rem;
}

.section-title {
  border-bottom: 1rem solid $dark-gray;
}

.site-title {
  font-size: 3rem;
  font-family: $header-font-family;
  font-weight: bold;
  color: $white;
}

.button.default {
  min-width: 9rem;
}

.round {
  border-radius: 50%;
}

.button.hollow {
  @include custom-button-hollow-style;
}

.button.more {
  @include more;
  height: 3.1rem;
  width: 3.1rem;
  line-height: 3.1rem;
  @extend .round;
}

.button.scroll-up {
   background: transparent;
   font-size: 3.6rem;
   padding: 0;
 }



