.text-uppercase{
  text-transform: uppercase;
}

p{
  font-size: 1.4rem;
}

.section-title{
  border-bottom: 1rem solid $dark-gray;
}

.site-title{
  font-size: 3rem;
  font-family: $header-font-family;
  font-weight: bold;
  color: $white;
}

.button {
  min-width: 9rem;
}

.round{
  border-radius: 50%;
}

