.our-works {
  background: $light-gray;
  padding: 10rem 0 14rem 0;

  .section-title{
    margin-bottom: 2.8rem;
  }

}

.work-list {
  .work-list-item{
    margin-bottom: 3rem;
  }
  .work {
    overflow: hidden;
    position: relative;
    max-width: 37rem;
    max-height: 37rem;
    border: 1px solid red;
    text-align: center;
    margin: 0 auto;

    img{
      display: block;
      height: 37rem;
      max-width: 37rem;
    }
  }
}