.reviews{
  background-color: $medium-gray;
  padding-bottom: 3rem;

  .user-review{
    max-width: 80rem;
    margin: 0 auto;
    outline: 1px solid red;
    .orbit-container{
      min-height: 15rem;
    }
  }

  .text-review,
  .client-name{
    color: $white;
    font-family: "ProximaNova", "Helvetica", Arial sans-serif;
  }

  .text-review{
    font-size: 3.6rem;
    padding: 0 1rem;

    @include custom-breakpoint(medium){
      font-size: 3rem;
    }
    @include custom-breakpoint(large){
      font-size: 3.6rem;
    }
  }

  .user-photo{
    height: 7rem;
    width: 7rem;
    margin-bottom: 2rem;
    @extend .round;
    display: none;
    @include custom-breakpoint(medium){
      display: block;
    }
  }


  blockquote {
    margin: 0 auto;
    padding: $blockquote-padding;
    border-#{$global-left}: $blockquote-border;

    &, p {
      line-height: $paragraph-lineheight;
      color: $blockquote-color;
    }
  }

  .orbit-bullets{
    margin: 0;
    top: 1.5rem;
    button{
      border: 2px solid $white;
    }
    .is-active{
      background: $white;
    }
  }
}