.subscribe{
  background: $blue;
  color: $white;
  padding: 2.2rem 0;

  .subscribe-description{
    margin-bottom: 0;
    font: 3.6rem/1 "ProximaNova", "Helvetica", Arial sans-serif;
    margin: 0 0 2rem 0;
    @include custom-breakpoint(medium){
      margin: 0;
    }
  }
}