.our-team {
  background: $white;


  .team-member-list {
    margin-bottom: 3.5rem;
  }

  .section-title {
    margin-bottom: 8rem;
  }
}

.about-team {
  padding: 3rem 0 5rem 0;
  @include custom-breakpoint(medium){
    padding: 5rem 0 7rem 0;
  }
  @include custom-breakpoint(large){
    padding: 10rem 0 14rem;
  }


  .team-member-item {
    margin-bottom: 4rem;
    &:nth-last-child{
      margin-bottom: 0;
    }
    @include custom-breakpoint(large){
      margin-bottom: 0;
    }
  }
}




.member-social-info {
  position: relative;
  margin-bottom: 4rem;
  @include custom-breakpoint(medium){
    float: left;
    padding-right: 7rem;
  }
  @include custom-breakpoint(large){
    float: none;
  }

  img{
    height: 17rem;
    display: block;
    margin: 0 auto;
    @include custom-breakpoint(xlarge){
      margin-left: 0;
    }
  }

  .team-member-social-link {
    width: 17rem;
    margin: 1rem auto 0;
    @include custom-breakpoint(xlarge){
      position: absolute;
      top: 40%;
      right: 6rem;
      width: auto;
    }

    li {
      margin-right: 1rem;
    }

    li:last-child {
      margin-right: 0;
    }

    a {
      font-size: 2.4rem;
      background: $blue;
      color: $white;
      line-height: 5rem;
      height: 5rem;
      width: 5rem;
      text-align: center;
      border-radius: 50%;
    }
  }
}



.about-member {
  @include custom-breakpoint(medium){
    padding-top: 3rem;
  }
  
  .about-member-title {
    color: $blue;
  }

  .about-member-title,
  .subheader,
  p{
    text-align: center;
    @include custom-breakpoint(medium){
      text-align: left;
    }
  }
}





.team-achievements {
  background: $dark-gray;
  padding: 4rem 0 3.5rem;
  color: $white;
  @include breakpoint(large){
    padding: 8rem 0 7.5rem;
  }

  .achievements-list-item{
    margin: 0 0 2rem 0;
    @include custom-breakpoint(medium){
      margin: 0;
    }
    &:last-child{
      margin: 0;
    }
  }

  .icon,
  .statistic{
    float: left;
    @include custom-breakpoint(medium){
      float: none;
    }
  }

  .icon{
    line-height: 1;
    width: 20%;
    font-size: 5.2rem;
    @include custom-breakpoint(medium){
      width: 100%;
      font-size: 7.2rem;
    }

  }

  .statistic {
    font-family: $header-font-family;
    font-weight: $subheader-font-weight;
    width: 40%;
    @include custom-breakpoint(medium){
      width: auto;
    }
  }

  .achievement-description {
    float: right;
    margin-top: 1rem;
    width: 40%;
    color: $white;
    @include custom-breakpoint(medium){
      width: auto;
      float: none;
    }
  }


}