.video-block {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 80px 0 0 0;
  min-height: 26rem;
}

video{
  display: inline-block;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  z-index: -1;
  outline: 1px solid red;
}

.controls-video {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: $medium-gray;

  .controls-video-content{
    position: relative;
    top: 12rem;
    @include custom-breakpoint(large){
      top: 20rem;
    }
    @include custom-breakpoint(xlarge){
      top: 30rem;
    }
  }

  .button.play {
    float: left;
    height: 10rem;
    width: 10rem;
    padding: 0;
    font-size: 10rem;
    line-height: 10rem;
    color: $white;
    background: transparent;
    @extend .round;
    @include custom-breakpoint(xlarge){
      height: 12.8rem;
      width: 12.8rem;
      font-size: 15rem;
      line-height: 12.8rem;
    }
    &:hover,
    &:focus {
      color: $primary-color;
    }
  }

  .section-title {
    color: $white;
    border-bottom: none;
    padding-top: 2.5rem;
    margin-bottom: 0;
  }

  .video-title {
    font-weight: lighter;
    font-size: 3.8rem;
    @include  custom-breakpoint(large){
      font-size: 4.8rem;
    }
    @include custom-breakpoint(xlarge){
      font-size: 7.2rem;
    }
  }

  .section-title,
  .controls_video-description {
    display: inline-block;
    width: 100%;
  }

  .controls_video-description {
    font-size: 1.6rem;
    line-height: 1.4;
    color: $primary-color;
  }

}
.wrapper_title{
  display: inline-block;
  padding-left: 4rem;
}